@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen font-trebuchet !bg-main bg-no-repeat h-full
}

@font-face {
  font-family: 'Trebuchet MS';
  src: url('fonts/TrebuchetMS.woff') format('woff2'),
      url('fonts/TrebuchetMS.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}